<div class="card">
  <div class="card-header">Add filiere</div>

  <div class="card-body">
    <form>


      <div class="form-group">
        <label for="exampleFormControlInput1">Nom de la Filiere</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Nom de la filiere"
          name="filiere"
          [(ngModel)]="filiere.filiere"
        />
      </div>

      <div class="form-group">
        <label for="">Niveau</label>
        <select
          name="niveau"
          [(ngModel)]="filiere.niveau"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" disabled selected hidden>
            Rechercher Les Niveau
          </option>
          <option value="TS">TS</option>
          <option value="T">T</option>

          <option value="LP">Licence profesionnelle</option>
          <option value="Licence">Licence</option>
          <option value="Master">Master</option>
          <option value="ID">Ingénieur d'état</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Ecole</label>
        <select
        name="ecole"
        [(ngModel)]="filiere.ecole"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="" disabled selected hidden>
          Rechercher Les écoles
        </option>
        <option value="Emsi">EMSI (École Marocaine des Sciences de l’Ingénieur)</option>
        <option value="Emi">EMI (École Mohammadia d'Ingénieurs)</option>
        <option value="Ensias">ENSIAS (École Nationale Supérieure d'Informatique et d'Analyse des Systèmes)</option>
        <option value="Ensa">ENSA (École Nationale des Sciences Appliquées)</option>
        <option value="FST">FST (Faculté des Sciences et Techniques)</option>
        <option value="INPT">INPT (Institut National des Postes et Télécommunications)</option>
        <option value="ENCG">ENCG (École Nationale de Commerce et de Gestion)</option>
        <option value="ENSAM">ENSAM (École Nationale Supérieure des Arts et Métiers)</option>
        <option value="UCA">Université Cadi Ayyad</option>
        <option value="UIR">UIR (Université Internationale de Rabat)</option>
        <option value="UEMF">UEMF (Université Euromed de Fès)</option>
        <option value="UM6P">UM6P (Université Mohammed VI Polytechnique)</option>
        <option value="AUI">AUI (Al Akhawayn University)</option>
        <option value="EST">EST (École Supérieure de Technologie)</option>
        <option value="INSEA">INSEA (Institut National de Statistique et d'Économie Appliquée)</option>
        <option value="ENS">ENS (École Normale Supérieure)</option>
        <option value="ENSAT">ENSAT (École Nationale des Sciences Appliquées de Tétouan)</option>
        <option value="FMP">Faculté de Médecine et de Pharmacie</option>
        <option value="HEM">HEM (Institut des Hautes Études de Management)</option>
        <option value="UIZ">Université Ibn Zohr</option>
        <option value="UAE">Université Abdelmalek Essaâdi</option>
        <option value="UAH">Université Al Akhawayn</option>
        <option value="INPT">Institut National des Postes et Télécommunications</option>
      </select>

      </div>

      <button (click)="PostMethod()" type="button" class="btn btn-light">
        Enregistrer
      </button>
    </form>
  </div>
</div>
