<body>
  <div class="card">
    <div class="card-header">Rechercher des encadrants</div>

    <div class="card-body">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [(ngModel)]="searchText"
          placeholder="taper un mots-clés"
        />
      </div>
      <a [routerLink]="['/encadrant/AddEncadrant']" class="link-primary">
        <mat-icon
          class="svg"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add"
        ></mat-icon>
        Nouveau encadrant</a
      >
      <!-- <a
        *ngIf="authservices.hasRole('ADMIN')"
        [routerLink]="['/encadrant/AddEncadrant']"
        class="link-primary"
        >    <mat-icon
        class="svg"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add"
        ></mat-icon>
        Nouveau encadrant</a
      > -->
    </div>
  </div>

  <div class="card" *ngIf="List.length > 0">
    <div class="card-header">List des encadrants</div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col">id</th> -->
            <th scope="col">
              <mat-icon
                class="svg"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="person"
              >
              </mat-icon>
              Nom Complet
            </th>

            <th scope="col">
              <mat-icon
                class="svg"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="email"
              >
              </mat-icon>
              email
            </th>
            <th scope="col">
              <mat-icon
                class="svg"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="grade"
              ></mat-icon>
              telephone
            </th>


            <th scope="col">
              <mat-icon
                class="svg"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="build"
              ></mat-icon>
              actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let user of List
                | filter : searchText
                | paginate : { itemsPerPage: parePage, currentPage: p }
            "
          >
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ user.nom }} {{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone}}</td>
         
                      <td class="btns">
              <a [routerLink]="['/encadrant/edit/' + user.id]">
                <mat-icon
                  class="svg"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="update"
                ></mat-icon>
              </a>

              <!-- <a
                *ngIf="authservices.hasRole('ADMIN')"
                [routerLink]="['/encadrant/edit/' + user.id]"
              >
              <mat-icon
              class="svg"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="update"
              ></mat-icon>
              </a> -->
               <a (click)="DeleteEncadrant(user.id)">
                <!-- <a
                *ngIf="authservices.hasRole('ADMIN')"
                (click)="DeleteEncadrant(user.id)"
              > -->
                <mat-icon
                  class="svg"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="delete"
                ></mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      class="myPagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>

  <div *ngIf="List.length == 0" class="alert alert-secondary" role="alert">
    Dosen't exist any encadrant pour l'instant
  </div>
</body>

<app-footer></app-footer>
